* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .parent {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./images/card-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        gap: 20px;
        padding: 20px;
        margin: 40px;
    }

    input {
        border-radius: 10px;
        padding: 16px;
        background-color: #6dd285;
    }

    header {
        h2 {
            color: #0fc82b;
            background: #0000005a;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .wert {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
    }

    .motivate {
        color: rgb(142, 108, 15);
        font-size: 23px;
    }

    .time {
        color: black;
        font-size: 23px;
    }

    .wordmix {
        color: rgb(0, 56, 101);
        font-size: 20px;
    }


    button {
        border-radius: 10px;
        font-size: 14px;
        background-color: #0fc82b;
        font-family: inherit;
        padding: 10px;
    }


    .modal, .modals {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        top: auto;
        bottom: auto;
        padding: 20px;
        border-radius: 20px;
        background-color: aliceblue;
        width: 45%;
        gap: 40px;


        .rebtn {
            &:active {
                background-color: #479d00;
            }
        }

        ;

        .result {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            display: flex;
            justify-content: space-between;
        }

        a{
            color: #485555;
            text-decoration: none;
            width: 100%;
            background-color: #00ff9d;
            border-radius: 13px;
            padding: 10px;
            border: 1px solid blue;
            transition: all .3s ease;
            &:hover, &:active{
                background-color: #4f9ee3;
                color: rgb(219, 248, 249);
            }
        }
    }

    .modals{
        display: none;
        
    }

}

main {
    width: 100%;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.wrapper {
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 34px;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px;
    padding-top: 30px;

    .bg1 {
        background-image: url(./images/hayvonalr.jpg);
    }

    .bg2 {
        background-image: url(./images/qushlar.jpg);
    }

    .bg3 {
        background-image: url(./images/hasharotlar.jpg);
    }

    .bg4 {
        background-image: url(./images/items.jpg);
    }

    .bg5 {
        background-image: url(./images/aralash.jpg);
    }

    .bg6 {
        background-image: url(./images/cities.jpg);
    }

    .bg7 {
        background-image: url(./images/kasblar.jpg);
    }

    .bg8 {
        background-image: url(./images/atamalar.jpg);
    }

    .bg9 {
        background-image: url(./images//countries.jpg);
    }

    .bg10 {
        background-image: url(./images/osimliklar.jpg);
    }
}

button {
    text-decoration: none;
    text-align: center;
    color: #6fff00;

    h2,
    p {
        background-image: url(./images/card-bg.jpg);
        padding: 5px;
        border-radius: 5px;
    }
}

.img {
    width: 14rem;
    height: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 102%;
    width: 300px;
    gap: 40px;
    border-radius: 14px;
    padding: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.foter {
    width: 100%;
    padding: 40px;
    background-color: #3b3b3b8a;
    color: rgb(175, 173, 173);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;

        span {
            color: #0fc82b;
        }
    }
}

.starter {
    animation: identifier 700ms infinite ease;
    color: black;
    background-image: url(./images/card-bg.jpg);
}

@keyframes identifier {

    0%,
    20% {
        transform: scale(1)
    }

    20%,
    40% {
        transform: scale(1.05)
    }

    40%,
    60% {
        transform: scale(1.1)
    }

    60%,
    80% {
        transform: scale(1.05)
    }

    80%,
    100% {
        transform: scale(1);
    }
}


.modal-wrapper {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #1404045a;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}


.natija,
.natija2 {
    font-size: 32px;
    color: #0fc82b;
    text-align: center;
}

.izoh {
    font-size: 26px;
    color: #0fc82b;
    text-align: center;
}


@media only screen and (max-width: 640px) {
    .izoh {
        font-size: 12px;
    }
}